.login{
    width: 100%;
}
.login-form-container{
    min-height: 80vh;
    display: flex;
    align-items: center;
}
.login-form-wrapper{
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 20px;
}
.login-form-wrapper > h1{
    padding: 20px;
}
.login-form-wrapper > form{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0 0px;
}
.login-form-wrapper > form > input, .login-form-wrapper > form > button{
    display: block;
    margin: auto;
}
.login-form-wrapper > form > input{
    width: 100%;
    border: none;
    padding: 10px 10px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgba(211, 211, 211, 0.493);
    transition:all .2s linear;
}
.login-form-wrapper > form > input:focus{
    outline: none;
    border: 1px solid #000;
    background-color: #fff;
}
.login-form-wrapper > form > button{
    border: none;
    width: 70%;
    padding: 20px 30px;
    border-radius: 8px;
    font-size: 18px;
}
.login-form-wrapper > form > button#get_started{
    background-color: #000;
    color: #FDF5E6;
    margin-top: 20px;
}
.login-form-wrapper > form > button#get-started-with-google{
    /* border: 1px solid #000; */
    padding: 0px 30px;
    margin-top: 10px;
    border: none;
    background-color: #fff;
}
form > button#get-started-with-google > span{
    color: Green;
}
.login-form-wrapper > form > p{
    font-size: 18px;
}
.login-form-wrapper > form > article{
    font-size: 18px;
    margin: 10px 0;
}
.login-form-wrapper > form > article > a{
    color: green;
}